


.product{
    width: 260px;
    height: 270px;
    /* border: 1px solid blue; */
    line-height: 3px;
    padding: 3px;
    box-shadow: rgba(73, 73, 83, 0.2) 0px 7px 29px 0px;
}
.product>img{
    width: 200px;
    height: 160px;
    
}
.AddtoCart>button{
    width: 200px;
    padding: 7px;
    font-size: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
}
.AddtoCart>button:hover{
    background-color: rgb(74, 73, 73);
}



/* ///////Navbar Css/////////// */


/* ///////////Counter Page CSS ////////// */

.counter{
    display: flex;
    width: 120px;
    margin: auto;
    justify-content: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 700;

}
.counter>button{
    width: 34px;
    height: 34px;
    color: white;
    font-size: 20px;
    background-color: rgb(48, 46, 46);
    margin-top: 2px;
}





@media only screen and (min-device-width: 481px) and (max-device-width: 1024px){
    /* For portrait layouts only */
}