.App {
  text-align: center;
}

/* Navbar CSS */

.navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(47, 46, 46);
  text-decoration: none;
  background-color: rgb(225, 224, 224);
}
.navbar > :nth-child(1) {
  margin-top: -13px;
}
.navbar > :nth-child(2) {
  display: flex;
  width: 170px;
  
  justify-content: space-around;
}
.navbar > :nth-child(2) > div {
  margin-top: 10px;
  display: flex;
}
.navbar > :nth-child(2) > :nth-child(2) {
  width: 55px;
  height: 40px;
  margin-top: 5px;
  margin-left: 23px;
  border: none;
  cursor: pointer;
  background: rgb(180, 178, 178);
  border-radius: 4px;
  justify-content: center;
}

/* Container&Filters */

.Container {
  display: grid;
  grid-template-columns: 30% 70%;
}
.filterDiv {
  position: sticky;
  margin-left: 20px;
  margin-right: 20%;
  padding: 30px;
  box-shadow: rgba(73, 73, 83, 0.2) 0px 7px 29px 0px;
}

/* SearchBar */

.search {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 270px;
}
.search > input {
  width: 250px;
  height: 27px;
  border: 1px solid rgb(131, 131, 131);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 10px;
}
.search > button {
  background-color: rgb(169, 164, 164);
  border: none;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.filter_icon {
  display: none;
}

.products_data {

  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filterDiv > div {
  width: 150px;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  /* border: 1px solid rgb(0, 255, 183); */
  text-align: left;
  font-size: 17px;
  font-weight: 600;
}
.filterDiv > div > h3 {
  margin-bottom: 4px;
}


@media only screen and (min-width: 600px) and (max-width: 1100px) {

  .products_data {

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 600px){

  .search{
      margin-top: 35px;
      margin-bottom: 35px;
      margin-left: -10px;
      display: flex;
      justify-content: center;
  }
  .search>input{
      width: 150px;
      height: 27px;
      border: 1px solid rgb(131, 131, 131);
      border-top: none;
      border-left: none;
      border-right: none;
      margin-right: 10px;
  
  }
  .search>button{
      background-color: rgb(37, 36, 36);
      border: none;
      width: 40px;
      height: 30px;
      border-radius: 5px;
      cursor: pointer;
      
  }
  .filter_icon{
      /* display: grid; */
      margin-left: 10px;
  }
  .filter_icon>img{
      margin-top: 5px;
      margin-left: 5px;
  }
  .products_data{
      width: 100%;
      /* border: 1px solid red; */
      display: grid;
      grid-template-columns: repeat(1, auto);
      /* gap: 5%; */
      justify-content: center;
      margin-bottom: 20px;
  }
  .filterDiv{
      /* display: none; */
      /* width: 28%; */
      height: 500px;
      /* border: 1px solid rgb(0, 255, 42); */
      position: -webkit-sticky;
      position: sticky;
      top: 30px;
      margin-left: 10px;
      padding-left: 10px;
      box-shadow: rgba(73, 73, 83, 0.2) 0px 7px 29px 0px;
  
  }
      /* ///////Navbar Css/////////// */
      .navbar{
          width: 100%;
          display: flex;
          height: 50px;
          /* border:1px solid green; */
          justify-content: space-around;
          /* padding: 0px 40px; */
          /* font-size: 20px; */
          /* font-weight: 600; */
          color: rgb(47, 46, 46);
          text-decoration: none;
          background-color: rgb(225, 224, 224);
      }
      .navbar>:nth-child(1){
          margin-top: -13px;
          margin-right: 0px;
          /* display: none; */
      }
      .navbar>:nth-child(2)>div{
          margin-top: 10px;
          display: flex;
      }
      .navbar>:nth-child(2)>:nth-child(1){
          display: none;
      }
      .navbar>:nth-child(2)>:nth-child(2){
          width: 55px;
          height: 40px;
          margin-top: 5px;
          /* margin-left: 23px; */
          border: none;
          cursor: pointer;
          background: rgb(180, 178, 178);
          border-radius: 4px;
          /* justify-content: center; */
      }
      .Container {
        display: grid;
        grid-template-columns: 40% 60%;
      }

}